<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122367360613-l5jfor5kvtiqfu4b3c7hrj20p5mtsejp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122367360613-l5jfor5kvtiqfu4b3c7hrj20p5mtsejp</string>
	<key>API_KEY</key>
	<string>AIzaSyDkRJaMAsedHGbHiU2FQnhLpfpLw6M4Yqk</string>
	<key>GCM_SENDER_ID</key>
	<string>122367360613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krystal.PursuitsGram</string>
	<key>PROJECT_ID</key>
	<string>pursuitsgram</string>
	<key>STORAGE_BUCKET</key>
	<string>pursuitsgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122367360613:ios:8e1aadcfbe77b5e68a508c</string>
	<key>DATABASE_URL</key>
	<string>https://pursuitsgram.firebaseio.com</string>
</dict>
</plist>